@font-face {
    font-family: "阿里妈妈刀隶体 Regular";
    font-weight: 400;
    src: url("./assets/AlimamaDaoLiTi.woff") format("woff2"),
         url("./assets/AlimamaDaoLiTi.ttf") format("ttf");
    font-display: swap;
}

.app{
    font-family: "阿里妈妈刀隶体 Regular";
}